<div class="left-sidebar-pro">
    <nav id="sidebar" class="">
        <div class="sidebar-header">
            <a href="index.html"><img class="main-logo" src="~/Content/dashboard/img/logo/logosn.png" alt="" /></a>
            <strong><a href="index.html"><img src="~/Content/dashboard/img/logo/logosn.png" alt="" /></a></strong>
        </div>
        <div class="left-custom-menu-adp-wrap comment-scrollbar">
            <h4 class="nav-title">Parola Yönetici</h4>
            <nav class="sidebar-nav left-sidebar-menu-pro">
                <ul class="metismenu" id="menu1">
                    <li class="active">
                        <a title="Landing Page" href="@Url.Action("Index","Categories")" aria-expanded="false"><span class="fa fa-window-restore icon-wrap sub-icon-mg" aria-hidden="true"></span> <span class="mini-click-non">Kategoriler</span></a>
                    </li>
                    <li>
                        <a title="Landing Page"  href="@Url.Action("Index","MyPasswords")" aria-expanded="false"><span class="fa fa-key icon-wrap sub-icon-mg" aria-hidden="true"></span> <span class="mini-click-non">Parolalar</span></a>
                    </li>
                    <li>
                        <a title="Landing Page" onclick="openPasswordModal()" aria-expanded="false"><span class="fa fa-lock icon-wrap sub-icon-mg" aria-hidden="true"></span> <span class="mini-click-non">Parola Oluşturucu</span></a>
                    </li>
                    <li>
                        <a title="Landing Page" href="@Url.Action("Index","UserNotes")" aria-expanded="false"><span class="fa fa-sticky-note-o icon-wrap sub-icon-mg" aria-hidden="true"></span> <span class="mini-click-non">Notlarım</span></a>
                    </li>
                </ul>
            </nav>
        </div>
    </nav>
</div>
415819